<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Purchase Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <form action="/predict" method="post">
        <h2>Enter Values to Predict</h2>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Enter Age" required>
        <label for="salary">Estimated Salary:</label>
        <input type="number" id="salary" name="salary" placeholder="Enter Estimated Salary" required>
        <button type="submit">Predict</button>
        {% if prediction_text %}
            <h3>{{ prediction_text }}</h3>
        {% endif %}
    </form>
</body>
</html>
